PORT=8000
MONGODB_URI=mongodb+srv://arpit:arpit123@cluster0.tbnxdbl.mongodb.net

ACESS_TOEN_SECRET=393d172f616bdde85c170859ae0c00a108bdc751febc5668937ada339c426c2d

ACCESS_TOKEN_ENTRY=1d

REFRESH_TOKEN_SECRET= chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d
 